net.ipv4.conf.all.accept_redirects = {{ vars["net.ipv4.conf.all.accept_redirects"] }}
net.ipv4.conf.all.secure_redirects = {{ vars["net.ipv4.conf.all.secure_redirects"] }}
net.ipv4.conf.all.send_redirects = {{ vars["net.ipv4.conf.all.send_redirects"] }}
net.ipv4.tcp_max_orphans = {{ vars["net.ipv4.tcp_max_orphans"] }}
net.ipv4.tcp_fin_timeout = {{ vars["net.ipv4.tcp_fin_timeout"] }}
net.ipv4.tcp_keepalive_time = {{ vars["net.ipv4.tcp_keepalive_time"] }}
net.ipv4.tcp_keepalive_intvl = {{ vars["net.ipv4.tcp_keepalive_intvl"] }}
net.ipv4.tcp_keepalive_probes = {{ vars["net.ipv4.tcp_keepalive_probes"] }}
net.ipv4.tcp_synack_retries = {{ vars["net.ipv4.tcp_synack_retries"] }}
net.ipv4.tcp_mem = {{ vars["net.ipv4.tcp_mem"] }}
net.ipv4.tcp_rmem = {{ vars["net.ipv4.tcp_rmem"] }}
net.ipv4.tcp_wmem = {{ vars["net.ipv4.tcp_wmem"] }}
net.ipv4.tcp_orphan_retries = {{ vars["net.ipv4.tcp_orphan_retries"] }}
net.ipv4.tcp_syncookies = {{ vars["net.ipv4.tcp_syncookies"] }}
net.ipv4.netfilter.ip_conntrack_max = {{ vars["net.ipv4.netfilter.ip_conntrack_max"] }}
net.netfilter.nf_conntrack_max = {{ vars["net.netfilter.nf_conntrack_max"] }}
net.ipv4.tcp_timestamps = {{ vars["net.ipv4.tcp_timestamps"] }}
net.ipv4.tcp_sack = {{ vars["net.ipv4.tcp_sack"] }}
net.ipv4.tcp_congestion_control = {{ vars["net.ipv4.tcp_congestion_control"] }}
net.ipv4.tcp_no_metrics_save = {{ vars["net.ipv4.tcp_no_metrics_save"] }}
net.ipv4.route.flush = {{ vars["net.ipv4.route.flush"] }}
net.ipv4.conf.all.rp_filter = {{ vars["net.ipv4.conf.all.rp_filter"] }}
net.ipv4.conf.lo.rp_filter = {{ vars["net.ipv4.conf.lo.rp_filter"] }}
net.ipv4.conf.eth0.rp_filter = {{ vars["net.ipv4.conf.eth0.rp_filter"] }}
net.ipv4.conf.default.rp_filter = {{ vars["net.ipv4.conf.default.rp_filter"] }}
net.ipv4.ip_local_port_range = {{ vars["net.ipv4.ip_local_port_range"] }}
net.ipv4.tcp_tw_reuse = {{ vars["net.ipv4.tcp_tw_reuse"] }}
net.ipv4.tcp_window_scaling = {{ vars["net.ipv4.tcp_window_scaling"] }}
net.ipv4.tcp_rfc1337 = {{ vars["net.ipv4.tcp_rfc1337"] }}
net.ipv4.icmp_echo_ignore_broadcasts = {{ vars["net.ipv4.icmp_echo_ignore_broadcasts"] }}
net.ipv4.icmp_echo_ignore_all = {{ vars["net.ipv4.icmp_echo_ignore_all"] }}
net.ipv4.icmp_ignore_bogus_error_responses = {{ vars["net.ipv4.icmp_ignore_bogus_error_responses"] }}
net.core.somaxconn = {{ vars["net.core.somaxconn"] }}
net.ipv4.tcp_max_syn_backlog = {{ vars["net.ipv4.tcp_max_syn_backlog"] }}
net.core.netdev_max_backlog = {{ vars["net.core.netdev_max_backlog"] }}
net.core.rmem_default = {{ vars["net.core.rmem_default"] }}
net.core.wmem_default = {{ vars["net.core.wmem_default"] }}
net.core.rmem_max = {{ vars["net.core.rmem_max"] }}
net.core.wmem_max = {{ vars["net.core.wmem_max"] }}
fs.inotify.max_user_watches = {{ vars["fs.inotify.max_user_watches"] }}
vm.swappiness = {{ vars["vm.swappiness"] }}
